Crawl server ({{ location }}) hosted and maintained by {{ maintainer }}.
------------------------------------------------------------------------------
Webtiles:           {{ protocol }}://{{ serverurl }}
Crawl information:  http://crawl.develz.org/
------------------------------------------------------------------------------
** Games on this server are recorded for in-progress viewing and playback! **
------------------------------------------------------------------------------
Logged in as: $USERNAME !
Game selected: Dungeon Crawl Stone Soup experimental branches

WARNING: Experimental branches have limited save compatibility! Updates to the
branches may cause the loss of existing games, and branches may be removed
without warning: don't get too attached to your character. Thanks for helping!
(Check learnDB in ##crawl on freenode (irc) for detailed info on each branch)

{% for version in experimentals %}
{{ loop.index }}) {{ version }}
{% endfor %}

A) Advanced Options (create save backup for experimental versions)

q) Return to trunk menu
=>
