Crawl server ({{ location }}) hosted and maintained by {{ maintainer }}.
------------------------------------------------------------------------------
Webtiles:           {{ protocol }}://{{ serverurl }}
Crawl information:  http://crawl.develz.org/
------------------------------------------------------------------------------
** Games on this server are recorded for in-progress viewing and playback! **
------------------------------------------------------------------------------

Not logged in.

W) Watch games in progress

R) Register as new user
L) Login

Q) Quit

=>
