Crawl server ({{ location }}) hosted and maintained by {{ maintainer }}.
------------------------------------------------------------------------------
Webtiles:           {{ protocol }}://{{ serverurl }}
Crawl information:  http://crawl.develz.org/
------------------------------------------------------------------------------
** Games on this server are recorded for in-progress viewing and playback! **
------------------------------------------------------------------------------

Logged in as: $USERNAME
W) Watch games in progress

T) Dungeon Crawl Stone Soup Trunk
{% for version in versions %}{{ loop.index }}) {{ version }}  {% endfor %}


c) Change password  e) Change email address

Q)uit P)lay or S)print in Crawl {{ versions.0 }} now

=>
