Crawl server ({{ location }}) hosted and maintained by {{ maintainer }}.
------------------------------------------------------------------------------
Webtiles:           {{ protocol }}://{{ serverurl }}
Crawl information:  http://crawl.develz.org/
------------------------------------------------------------------------------
** Games on this server are recorded for in-progress viewing and playback! **
------------------------------------------------------------------------------

Logged in as: $USERNAME

Game selected: Dungeon Crawl Stone Soup %%version%%

B)ackup your save-game (for bug reports and debugging)

The next option allows you to reset your options.
ALL CHANGES YOU'VE MADE TO YOUR OPTIONS WILL BE LOST.

O) Reset options

q) Return to previous menu

=>
